@charset "UTF-8";

body {
    background-color: rgb(115, 143, 180);
    font-family: Arial, sans-serif;
    font-size: 17px;
}

h1 {
    color:rgb(13, 10, 218);
    background-color: rgb(2, 2, 2);
}

h2 {
    color: rgb(24, 37, 105);
}

p {
    text-align: justify;
}